{%- style -%}
  .announcement-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: #121212;
    color: white;
    padding: 15px;
  }

  .announcement-grid > * {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
  }

  .announcement-grid p {
    margin: 0;
  }

  .stars {
    margin-bottom: 5px;
  }

  .announcement-grid .announcement-container {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
{%- endstyle -%}

<div class="announcement-grid">
  <p>{{ section.settings.column_one }}</p>
  <div class="announcement-container">
    <p>3 col announcement</p>
  </div>
  <p>3 col announcement</p>
</div>

{% schema %}
{
  "name": "3 Column Announcement Bar",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "column_one",
      "label": "Column One"
    }
  ]
}
{% endschema %}
