{%- style -%}
  .announcement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background: {{ section.settings.background_color }};
    color: white;
    padding: 15px;
  }

  .announcement-grid > * {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
  }

  .announcement-grid p {
    margin: 0;
  }

  .announcement-grid .announcement-container {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
  }
{%- endstyle -%}

<div class="announcement-grid">
  <p>{{ section.settings.column_one }}</p>
  <div class="announcement-container">
    <p>{{ section.settings.column_two }}</p>
  </div>
  <p>{{ section.settings.column_three }}</p>
</div>

{% schema %}
{
  "name": "3 Column Announcement Bar",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "column_one",
      "label": "Column One Text",
      "default": "Column One"
    },
    {
      "type": "text",
      "id": "column_two",
      "label": "Column Two Text",
      "default": "Column Two"
    },
    {
      "type": "text",
      "id": "column_three",
      "label": "Column Three Text",
      "default": "Column Three"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color",
      "default": "#121212"
    }
  ],
  "presets": [
    {
      "name": "3 Column Announcement Bar"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
